body {
    background-image: url('backgroundimage.jpg');
    background-size: cover;
    color:black;
    font-family: sans-serif;
}
#coolcat {
    Display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.header{text-align:center;}

.button{
    margin-left:auto;
    margin-right:auto;
    background:white;
    text-align: center;
    width: 120px;
    border-radius: 10px;
    background:#A1A1A1;
    text-decoration: none;
}
#gifbounce{
    display:block;
    margin-left:auto;
    margin-right:auto;
    border:solid black;
    border-radius: 5px;
}